html body nav.navbar {
  background-color: #0074D9 !important;
}

a.navbar-brand, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link{
  color: white!important;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

ul.navbar-nav {
  width: 100%;
}

li.nav-item {
  width: 10%;
}

footer {
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

.container {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}

.margin {
  margin-left: 50px;
  margin-right: 50px;
}

.map-container {
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
}

#campusPic {
  max-width: 700px;
}

#campusPicWords {
  padding: 0.5em;
  font-size: 3rem;
  color: #002B9D;
}

#title {
  text-align: center;
  margin-top: 30px;
}

#map-words {
  padding-left: 1rem;
  padding-right: 1rem;
}

#lastparagraph {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

}

@media only screen and (max-width: 600px) {
  .map-container {
    padding-top: 0;
  }
}

