body {
  margin: 0;
}

nav {
  width: 100%;
}

nav li {
  float: left;
  list-style-type: none;
  width: 25%;
  text-align: center;
}

nav ul {
  background-color: #f1f1f1;
}

nav li a {
  color: #000;
}

nav li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

section {
  display: flex;
  width: 100%;
}

aside {
  flex: 1;
  padding-top: 1%;
}

article {
  flex: 4;
  padding-left: 2%;
  padding-top: 1%;
}

img {
  width: 100%;
}